<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona glowna</title>
  </head>
  <body>
    <h1>Witaj na stronie glownej, <%= username %>!</h1>
    <a href="logout">Wyloguj sie</a>
  </body>
</html>
