<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejestracja</title>
  </head>
  <body>
    <h1>Rejestracja</h1>
    <form method="POST" action="register">
      <label for="username">Login:</label>
      <input type="text" name="username" id="username" required /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required /><br />
      <label for="email">email:</label>
      <input type="email" name="email" id="email" required /><br />
      <button type="submit">Zajerestruj</button>
    </form>
    <br />
    <a href="login">Masz juz konto? Zaloguj sie</a>
  </body>
</html>
